<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kitchening</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/e4646141a1.js" crossorigin="anonymous"></script>
</head>
<body class="home">
    <header class="header--content">
        <div class="header-content-logo">
            <img src="/img/logo.jpg" alt="Logo">
        </div>
        <div class="header-content-bars">
            <i class="fa-solid fa-bars"></i>
        </div>
        <nav>
            <ul>
                <li><a href="#">home</a></li>
                <li><a href="#">quienes</a></li>
                <li><a href="#">servicios</a></li>
                <li><a href="#">portfolio</a></li>
                <li><a href="#">sucursales</a></li>
                <li><a href="#">contacto</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="containt--banner-img">
            <img src="/img/img-banner.jpg" alt="imagen banner">
        </div>
        <div class="containt--section">
            <div class="containt--section-card">
                <div class="card--section-img">
                    <img class="img-principal" src="/img/img-pdto-1.jpg" alt="imagen champagne">
                    <img class="img-etiqueta" src="/img/img-nuevo.png" alt="imagen etiqueta nuevo">
                    <p>ampliar foto</p>
                </div>
                <div class="card--section-text">
                    <h3>Lorem ipsum amet</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore nisi expedita minus odio eveniet a. Est, odio. Accusantium vero ipsa nesciunt, qui tempore non ducimus dignissimos sed odio, quidem soluta?</p>
                    <button type="button">ver más</button>
                </div>
            </div>
            <div class="containt--section-card">
                <div class="card--section-img">
                    <img class="img-principal"  src="/img/img-pdto-2.jpg" alt="imagen bebidas">
                    <img class="img-etiqueta" src="/img/img-gratis.png" alt="imagen etiqueta gratis">
                    <p>ampliar foto</p>
                </div>
                <div class="card--section-text">
                    <h3>Lorem ipsum amet</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore nisi expedita minus odio eveniet a. Est, odio. Accusantium vero ipsa nesciunt, qui tempore non ducimus dignissimos sed odio, quidem soluta?</p>
                    <button type="button">ver más</button>
                </div>
            </div>
            <div class="containt--section-card">
                <div class="card--section-img">
                    <img class="img-principal"  src="/img/img-pdto-3.jpg" alt="imagen champagne">
                    <img class="img-etiqueta" src="/img/img-descuento.png" alt="imagen etiqueta descuento">
                    <p>ampliar foto</p>
                </div>
                <div class="card--section-text">
                    <h3>Lorem ipsum amet</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore nisi expedita minus odio eveniet a. Est, odio. Accusantium vero ipsa nesciunt, qui tempore non ducimus dignissimos sed odio, quidem soluta?</p>
                    <button type="button">ver más</button>
                </div>
            </div>
            <div class="containt--section-card">
                <div class="card--section-img">
                    <img class="img-principal"  src="/img/img-pdto-1.jpg" alt="imagen champagne">
                    <img class="img-etiqueta" src="/img/img-nuevo.png" alt="imagen etiqueta nuevo">
                    <p>ampliar foto</p>
                </div>
                <div class="card--section-text">
                    <h3>Lorem ipsum amet</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore nisi expedita minus odio eveniet a. Est, odio. Accusantium vero ipsa nesciunt, qui tempore non ducimus dignissimos sed odio, quidem soluta?</p>
                    <button type="button">ver más</button>
                </div>
            </div>
            <div class="containt--section-card">
                <div class="card--section-img">
                    <img class="img-principal"  src="/img/img-pdto-2.jpg" alt="imagen bebidas">
                    <img class="img-etiqueta" src="/img/img-gratis.png" alt="imagen etiqueta gratis">
                    <p>ampliar foto</p>
                </div>
                <div class="card--section-text">
                    <h3>Lorem ipsum amet</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore nisi expedita minus odio eveniet a. Est, odio. Accusantium vero ipsa nesciunt, qui tempore non ducimus dignissimos sed odio, quidem soluta?</p>
                    <button type="button">ver más</button>
                </div>
            </div>
            <div class="containt--section-card">
                <div class="card--section-img">
                    <img class="img-principal"  src="/img/img-pdto-3.jpg" alt="imagen champagne">
                    <img class="img-etiqueta" src="/img/img-descuento.png" alt="imagen etiqueta descuento">
                    <p>ampliar foto</p>
                </div>
                <div class="card--section-text">
                    <h3>Lorem ipsum amet</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore nisi expedita minus odio eveniet a. Est, odio. Accusantium vero ipsa nesciunt, qui tempore non ducimus dignissimos sed odio, quidem soluta?</p>
                    <button type="button">ver más</button>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer--content">
            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="">Quienes</a></li>
                    <li><a href="">Servicios</a></li>
                    <li><a href="">Portfolio</a></li>
                    <li><a href="">Sucursales</a></li>
                    <li><a href="">Contacto</a></li>
                </ul>
            </nav>
        </div>
    </footer>
</body>
</html>