.header-content-logo, .header--content nav{
    display: flex;
    justify-content: center;
    /* background-color: red; */
    margin-top: 20px;
}

.header-content-logo img{
    border-radius: 50%;
    border: 1px solid gray
}
.header--content nav{
    /* background-color: aqua; */
    margin-bottom: 10px;
}
.header--content nav ul{
    /* height: 40px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: red; */
    width: 100%;
}
.header--content nav ul li{
    /* margin: 0 10px; */
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px 0;
    width: 15%;
    text-align: center;
    font-size: 0.8rem;
    
}
.header--content nav ul li a{
    color: white;
    text-transform: uppercase;
}
.header-content-bars{
    display: none;
}
@media only screen and (max-width:769px){
    .header--content nav ul li{
        color: red;
        font-size: 0.6rem;
    }   

}

